<?
if(!$navigation_scope) $navigation_scope = "live";
if(!$depth) $depth = 0;
?>
<?if(($kids = $root->children) && ($nodes = $kids->scope($navigation_scope)->all()) && $nodes->count()):?>
<ul class='navigation clearfix <?=str_replace("&", "and", str_replace("/", "-", trim($root->permalink, "/")))?> navigation-depth-<?=$depth?><?if($depth>1 && !$root->fake_split && !$root->extra_partial):?> sub-navigation<?endif?>'>
  <?foreach($nodes as $node):?>

  <?$content = false;?>
  <?if(($c = $node->content_item) && ($c = $c->scope($content_scope)->first()) ){ $content = $c;}?>

  <li class='navigation-branch clearfix<?if($content && in_array($content->primval, $content_id_stack)):?> navigation-branch-active<?endif?><?if($node->fake_split):?> navigation-split navigation-split-<?=$depth?><?endif?> nav-<?=str_replace("&", "and", str_replace("/", "-", trim(Inflections::underscore($node->permalink), "/")))?>'>
    <a href="<?if($node->nav_url):?><?=$node->nav_url?><?elseif($content):?><?=$content->permalink?><?else:?>/<?endif?>" target="<?if($node->target):?><?=$node->target?><?else:?>_self<?endif?>" class='<?if($node->fake_split):?> navigation-split-node navigation-split-node-<?=$depth?><?endif?> navigation-node navigation-node-depth-<?=$depth?> clearfix<?if($content && in_array($content->primval, $content_id_stack)):?> navigation-node-active<?endif?>' <?if($node->accesskey) echo "accesskey='".strtoupper($node->accesskey)."'"?>><?=$node->title?></a>
    <?if($node->extra_partial):?>
    <div class='navigation-branch-extra clearfix sub-navigation extra-partial <?=str_replace("&", "and", str_replace("/", "-", Inflections::underscore(trim(str_replace(".", "", $node->extra_partial), "/"))))?>'>
      <?=partial("__navigation", array('root'=>$node, 'depth'=>($depth+1), 'content_id_stack'=>$content_id_stack))?>
      <?=partial($node->extra_partial, array('root'=>$node, 'depth'=>$depth, 'content_id_stack'=>$content_id_stack));?>
    </div>
    <?else:?>
    <?=partial("__navigation", array('root'=>$node, 'depth'=>($depth+1), 'content_id_stack'=>$content_id_stack))?>
    <?endif?>
  </li>


  <?endforeach?>
</ul>
<?endif?>